table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;

    
}
caption {
    color: blueviolet;
    font-weight: bold;
    
}
th {
background-color: lightskyblue;
}
table {
    border: thick double darkorchid;
}